# Byte-code files
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/
env/

# Editor/IDE files
.idea/
.vscode/
*.swp
.DS_Store

# Database
db.sqlite3
db.sqlite3_old
db.sqlite3-journal
# Logs
*.log

# Celery
celerybeat-schedule

# Environment variables
.env

# Local Django settings (secrets, DB credentials)
config/settings_local.py

# Project specific test/dev files
testfile.txt
testfile1.txt
getdir.py
parse.py
test.py
td.py
td1.py

.shadowgit
cert.pem
key.pem
# dont git track raw files, they can be downloaded any time.
docs/providers/raw/