asgiref
celery
channels
channels-redis
Django
django-celery-beat
django-celery-results
django-dirtyfields
djangorestframework
diff-match-patch
Fabric
Jinja2
openai
PyMySQL
rapidfuzz
redis
whitenoise
requests
httpx
mcp
# Testing
pytest
pytest-django
pytest-asyncio
django-redis
django-cors-headers
django-sortedm2m
django-enum
mysqlclient
croniter
cachetools
flask
flask_sock
zeroconf
daphne