{% verbatim %}
<script id="SidebarInstancesListItemTemplate" type="text/x-handlebars-template">
    <div id="agent_instance_{{id}}" class="sidebar-instance {{#if isSelected}}selected-instance{{/if}}" 
         data-agent-id="{{agent_id}}" data-instance-id="{{id}}" onclick="selectAgentInstance(event, {{id}}, '{{name}}')">
        <div class="sidebar-instance-header" >
            <p><strong>{{name}}</strong> <span class="instance-status instance-status-{{status}}">{{status_display}}</span></p>
            <div class="agent-header-controls">
                <div class="agent-actions-menu" onmouseleave="closeAgentMenu(event, 'agent-instance-menu-{{id}}')">
                    <button class="btn btn-xs btn-default burgerbtn" onclick="toggleAgentMenu(event, 'agent-instance-menu-{{id}}')" title="Agent Instance Actions">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div id="agent-instance-menu-{{id}}" class="agent-menu-dropdown" style="display: none;">
                        <a href="#" onclick="requestAgentInstanceDeletion(event, '{{id}}', '{{name}}')">Delete Instance</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="nomargin"><span style="font-weight:500">{{model_name}}</span> on <span style="font-weight:500">{{system_name}}</span></p>
        <p class="nomargin hidden">Status: <span class="instance-status instance-status-{{status}}">{{status_display}}</span></p>
    </div>
</script>
{% endverbatim %}
