{% verbatim %}

<script id="SidebarAgentsTreeViewNodeTemplate" type="text/x-handlebars-template">
    <ul class="tree-view-list">
        {{#each nodes}}
            <li>
                {{!-- Agent Node --}}
                <div class="tree-node-header" onclick="toggleTreeNode(event)">
                    <i class="fa fa-users tree-node-icon"></i>
                    <b class="tree-node-count">{{this.children.length}}</b>
                    <span class="tree-node-name">{{this.agent.name}}</span>
                    <div class="agent-actions-menu-container">
                        <div class="agent-actions-menu" onmouseleave="hideAgentMenu(event, 'agent-menu-{{this.agent.id}}')">
                            <button class="btn btn-xs btn-default burgerbtn" onclick="showAgentMenu(event, 'agent-menu-{{this.agent.id}}')" title="Agent Actions">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div id="agent-menu-{{this.agent.id}}" class="agent-menu-dropdown" style="display: none;">
                                <a href="#" onclick="createAgentInstance(event, '{{this.agent.id}}')">Add Instance</a>
                                <a href="#" onclick="openAgentEditTab(event, {{this.agent.id}})">Edit Agent</a>
                                <a href="#" onclick="requestAgentDeletion(event, '{{this.agent.id}}', '{{this.agent.name}}')">Delete Agent</a>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Instance Children --}}
                {{#if this.children}}
                    <div class="tree-node-children" style="display: none;">
                        <ul class="tree-view-list">
                            {{#each this.children}}
                                <li>
                                    <div id="agent_instance_{{this.id}}" class="tree-leaf-instance {{#if this.isSelected}}selected-instance{{/if}}" 
                                         data-instance-id="{{this.id}}" onclick="selectAgentInstance(event, {{this.id}}, '{{this.name}}')">
                                        
                                        <span class="tree-node-spacer"></span>
                                        <i class="fa fa-user tree-node-icon"></i>
                                        <span class="tree-node-name">{{this.name}}</span>
                                        <span class="instance-status instance-status-{{this.status}}">{{this.status_display}}</span>
                                        
                                        <div class="agent-actions-menu-container">
                                            <div class="agent-actions-menu" onmouseleave="hideAgentMenu(event, 'agent-instance-menu-{{this.id}}')">
                                                <button class="btn btn-xs btn-default burgerbtn" onclick="showAgentMenu(event, 'agent-instance-menu-{{this.id}}')" title="Agent Instance Actions">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                                <div id="agent-instance-menu-{{this.id}}" class="agent-menu-dropdown" style="display: none;">
                                                    <a href="#" onclick="agentInstanceApi.fork('{{this.id}}'); hideAgentMenu(event, 'agent-instance-menu-{{this.id}}');">Fork Instance</a>
                                                    <a href="#" onclick="requestAgentInstanceDeletion(event, '{{this.id}}', '{{this.name}}')">Delete Instance</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</script>
{% endverbatim %}

