{% verbatim %}
<script id="SidebarFilesystemHeaderTemplate" type="text/x-handlebars-template">
    <div class="sidebar-fs-header-new">
        <div id="sidebar-workingdir-display_{{id}}" class="fs-header-item">
            {{#if workingdir}}
            <span id="sidebar-workingdir-text_{{id}}" class="editable-path" onclick="showSidebarWorkingdirEdit('{{id}}')" title="{{workingdir}}">{{workingdir}}</span>
        {{else}}
            <span id="sidebar-workingdir-text_{{id}}" class="editable-path placeholder" onclick="showSidebarWorkingdirEdit('{{id}}')" title="Click to set working directory" style="font-style: italic; color: #999;">[Not Set]</span>
        {{/if}}
        </div>
        <div id="sidebar-workingdir-edit_{{id}}" class="fs-header-item" style="display: none; width: -webkit-fill-available;">
            <input type="text" id="sidebar-workingdir-input_{{id}}" value="{{workingdir}}" onkeydown="handleSidebarWorkingdirKeydown(event, '{{id}}')" />
            <i class="fa fa-check" onclick="saveSidebarWorkingdir('{{id}}')"></i>
            <i class="fa fa-times" onclick="cancelSidebarWorkingdirEdit('{{id}}')"></i>
        </div>
        <div class="fs-header-item fs-token-count"><span id="total-fs-tokens_{{id}}">0</span></div>
        <div class="sidebar-fs-header-controls">
            <i id="fs-view-toggle_{{id}}" class="fa fa-eye fs-view-toggle" title="Toggle visibility of unloaded items" onclick="sidebarFsToggleView(event, {{id}})"></i>
            <i id="fs-write-permission-toggle_{{id}}" 
            class="fa {{#if workingdir_write_allowed}}fa-pencil unlocked{{else}}fa-pencil locked{{/if}} fs-permission-toggle" 
            title="{{#if workingdir_write_allowed}}WD Write: ON{{else}}WD Write: OFF{{/if}}"
            onclick="saveSidebarFsPermission('{{id}}', 'workingdir_write_allowed', {{#if workingdir_write_allowed}}false{{else}}true{{/if}})"></i>
        </div>
    </div>
</script>
{% endverbatim %}
