{% verbatim %}
<script id="SidebarFilesystemTemplate" type="text/x-handlebars-template">
    <div class="sidebar-section">
        <div id="sidebar-filesystem-header-container_{{instancePk}}">
            <!-- The new, combined header will be rendered here -->
        </div>
        
        <div class="sidebar-fs-list-header" id="sidebar-fs-list-header_{{instancePk}}">
            <span class="sort-header-item" data-sort-column="path" onclick="handleFilesystemSort('path', {{instancePk}})">Name <i class="fa fa-sort"></i></span>
            <span class="sort-header-item" data-sort-column="size" onclick="handleFilesystemSort('size', {{instancePk}})">Size <i class="fa fa-sort"></i></span>
            <span class="sort-header-item sort-header-actions" data-sort-column="actions" onclick="handleFilesystemSort('actions', {{instancePk}})">Actions <i class="fa fa-sort"></i></span>
        </div>

        <div id="sidebar-filesystem-list-{{instancePk}}" class="sidebar-fs-list">
            <!-- Loaded files and directories will be rendered here -->
        </div>
        <div class="sidebar-fs-input-container">
            <textarea id="sidebar-fs-path-input_{{instancePk}}" rows="3" placeholder="Enter one path per line..."></textarea>
            <button id="sidebar-fs-load-btn_{{instancePk}}" class="sidebar-button" onclick="sidebarFsLoad(event, {{instancePk}})">Load</button>
        </div>
        <div class="sidebar-fs-rules-container">
            <i class="fa fa-question-circle fs-rules-help" title="Access Rules Syntax:
- Deny: !path/to/deny
- Allow Write: >path/to/allow
- Read-only: <path/to/file
Rules are checked in order. Wildcards (*) are supported. Default is deny."></i>
            <textarea id="fs-access-rules_{{instancePk}}" class="fs-rules-textarea" placeholder="Access Rules (!/denied, >/writeok, </readonly)" onblur="saveSidebarFsPermission('{{instancePk}}', 'access_rules', this.value)"></textarea>
        </div>
    </div>
</script>


<script id="SidebarFilesystemItemTemplate" type="text/x-handlebars-template">
    <div id="fs-item-{{id}}" class="sidebar-fs-item {{#unless is_loaded}}fs-item-unloaded{{/unless}}" data-path="{{path}}" data-timestamp="{{created_at}}" data-is-loaded="{{is_loaded}}" data-instance-pk="{{instancePk}}" data-load-mode="{{load_mode}}">
        <i class="fa {{#if is_dir}}fa-folder-o{{else}}{{#if is_summary}}fa-file{{else}}fa-file-o{{/if}}{{/if}} item-icon"></i>
        
        <span class="fs-path item-text" title="{{path}}">{{path}}</span>
        <span class="fs-token-count">{{tokens}}</span>
        {{#if deleted}}<span class="item-deleted" title="File no longer exists"><i class="fa fa-exclamation-circle"></i></span>{{/if}}
        <div class="item-actions">
            <i class="fa fa-thumb-tack fs-pin-btn {{#if is_pinned}}pinned{{/if}}" 
               data-fslogentry-pk="{{id}}"
               data-is-pinned="{{is_pinned}}"
               onclick="sidebarFsPin(event, {{instancePk}})"
               title="{{#if is_pinned}}Unpin this item{{else}}Pin this item{{/if}}"></i>
            {{#unless is_dir}}
                {{#if is_loaded}}
                    {{#if is_summary}}
                        <i class="fa fa-expand fs-toggle-load-mode-btn" data-path="{{path}}" data-load-mode="summary" onclick="sidebarFsToggleLoadMode(event, {{instancePk}})" title="Switch to Full Load Mode"></i>
                    {{else}}
                        <i class="fa fa-compress fs-toggle-load-mode-btn" data-path="{{path}}" data-load-mode="full" onclick="sidebarFsToggleLoadMode(event, {{instancePk}})" title="Switch to Summary Load Mode"></i>
                    {{/if}}
                {{/if}}
            {{/unless}}
            <i class="fa fa-sign-out fs-unload-btn" data-path="{{path}}" onclick="sidebarFsUnload(event, {{instancePk}})" title="Unload this item" style="{{#unless is_loaded}}display: none;{{/unless}}"></i>
            <i class="fa fa-sign-in fs-load-btn" data-path="{{path}}" onclick="sidebarFsLoadItem(event, {{instancePk}})" title="Load this item" style="{{#if is_loaded}}display: none;{{/if}}"></i>
        </div>
    </div>
</script>
{% endverbatim %}
