{% verbatim %}
<script id="SidebarSubagentsTemplate" type="text/x-handlebars-template">
    <div role="tabpanel">
        <div class="sidebar-list-header">
            <h4>Sub-Agents</h4>
        </div>
        <div class="sidebar-list-body subagents-list-body">
            {{#if subagents}}
                <ul class="list-group">
                    {{#each subagents}}
                        <li class="list-group-item" id="subagent-item-{{subordinate_instance_id}}">
                            <i class="fa fa-sitemap list-icon"></i>
                            <strong>{{subordinate_instance_name}}</strong> (ID: {{subordinate_instance_id}})
                            <span class="pull-right badge badge-{{#if (eq subordinate_instance_status 'IDLE')}}success{{else}}warning{{/if}}">{{subordinate_instance_status}}</span>
                            <p class="text-muted small">Created: {{formatDateTime created_at}}</p>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="log-info">No sub-agents linked to this instance.</p>
            {{/if}}
        </div>
    </div>
</script>
{% endverbatim %}