{% verbatim %}
<script id="AgentPromptRelationsTemplate" type="text/x-handlebars-template">
    <div class="form-group">
        <h4>Agent Prompt Relations</h4>
        <p class="help-block">Manage the custom prompts associated with this agent.</p>
        
        <div id="agent-prompt-relations-list-{{agent_id}}" class="prompt-relations-list">
            {{#if agent_prompt_relations}}
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Prompt</th>
                            <th>Role</th>
                            <th>Insert At</th>
                            <th>Index</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each agent_prompt_relations}}
                            <tr id="relation-row-{{this.id}}">
                                <td>{{this.prompt_source}} / {{this.prompt_key}}</td>
                                <td>{{this.role}}</td>
                                <td>{{this.insert_at_display}}</td>
                                <td>{{this.index}}</td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-danger delete-relation-btn" onclick="deletePromptRelation({{this.id}})" title="Delete Prompt Relation">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p class="text-muted">No custom prompt relations defined for this agent yet.</p>
            {{/if}}
        </div>

        <div class="add-prompt-relation-section">
            {{#if agent_prompt_relations}}
                <button type="button" class="btn btn-default btn-xs" onclick="showAddPromptRelationForm({{agent_id}})">
                    <i class="fa fa-plus"></i> Add Prompt Relation
                </button>
            {{/if}}

            <div id="add-prompt-relation-form-{{agent_id}}" class="add-prompt-relation-form  row" style="{{#if agent_prompt_relations}}display: none;{{/if}}">
                <h5>{{#if agent_prompt_relations}}Add New{{else}}Add First{{/if}} Prompt Relation</h5>
                <div class="form-group col-md-2">
                    <input type="number" class="form-control" id="new-relation-index-{{agent_id}}" value="0">
                    <label for="new-relation-index-{{agent_id}}">Index</label>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control" id="new-relation-insert-at-{{agent_id}}">
                        <option value="TOP">Top most</option>
                        <option value="POST_TOP">Below Top most</option>
                        <option value="PRE_CHAT">Right before chat messages</option>
                        <option value="POST_CHAT">Right after chat messages</option>
                    </select>
                    <label for="new-relation-insert-at-{{agent_id}}">Insert At</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="new-relation-role-{{agent_id}}" value="user">
                    <label for="new-relation-role-{{agent_id}}">Role</label>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control" id="new-relation-prompt-{{agent_id}}">
                        <option value="">-- Select a Prompt --</option>
                        {{#each all_prompts}}
                            <option value="{{this.id}}">{{this.source}} / {{this.key}}</option>
                        {{/each}}
                    </select>
                    <label for="new-relation-prompt-{{agent_id}}">Prompt</label>
                </div>
                <div class="form-group col-md-2">
                    <button type="button" class="btn btn-primary" onclick="saveNewPromptRelation({{agent_id}})">Save Relation</button>
                    <button type="button" class="btn btn-default" onclick="hideAddPromptRelationForm({{agent_id}})">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}