{% verbatim %}
<script id="TabPromptsTemplate" type="text/x-handlebars-template">
    <div id="tabContent_prompts" class="resizable-container tab-content" data-orientation="vertical" style="display: none;">
        <div id="prompts-list-header" class="sidebar-list-header">
            <span>Prompt Templates</span>
        </div>
        <div class="prompts-table-container sidebar-list-body">
            <table id="prompts-table" class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 20px;"></th>
                        <th>Source</th>
                        <th>Key</th>
                        <th class="text-center">System Variants</th>
                        <th class="text-center">Your Global Variants</th>
                    </tr>
                </thead>
                <tbody id="prompts-table-body">
                    <!-- Prompt definitions will be rendered here -->
                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="PromptDefinitionRowTemplate" type="text/x-handlebars-template">
    <tr class="prompt-definition-row" data-prompt-definition-id="{{id}}" onclick="togglePromptDefinition(this)">
        <td><i class="fa fa-chevron-right expand-icon"></i></td>
        <td>{{source}}</td>
        <td>{{key}}</td>
        <td class="text-center">{{system_variants_count}}</td>
        <td class="text-center">{{user_variants_count}}</td>
    </tr>
</script>

<script id="PromptVariantGroupRowTemplate" type="text/x-handlebars-template">
    <tr class="prompt-variant-group-row" data-parent-definition-id="{{prompt_definition_id}}">
        <td colspan="5" class="variant-group-container">
            {{#if variants}}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th style="width: 20px;"></th>
                        <th>{{group_title}}</th>
                        <th>Created</th>
                        <th>Enabled</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {{#each variants}}
                    {{> PromptVariantRowTemplate}}
                {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="no-variants-message">{{no_variants_message}}</div>
            {{/if}}
        </td>
    </tr>
</script>

<script id="PromptVariantRowTemplate" type="text/x-handlebars-template">
    <tr class="prompt-variant-row" data-prompt-variant-id="{{id}}" onclick="togglePromptVariantValue(this, event)">
        <td><i class="fa fa-chevron-right expand-icon"></i></td>
        <td>
            {{#if is_newest_version}}
                <span class="latest-version-badge">LATEST</span>
            {{/if}}
            Version from {{formatDateTime created_at}}
        </td>
        <td>{{formatDateTime created_at}}</td>
        <td>
            <label class="switch">
                <input type="checkbox" class="prompt-enabled-toggle" data-prompt-pk="{{id}}" onchange="togglePromptEnabled(this, event)" {{#if is_enabled}}checked{{/if}} {{#unless is_editable}}disabled{{/unless}}>
                <span class="slider round"></span>
            </label>
        </td>
        <td class="text-right">
             <button class="btn btn-xs btn-default" title="View Version History (Not Implemented)">
                <i class="fa fa-history"></i>
            </button>
            {{#if is_editable}}
            <button class="btn btn-xs btn-default" title="Delete this version" onclick="event.stopPropagation(); deletePrompt('{{id}}', '{{key}}')">
                <i class="fa fa-trash"></i>
            </button>
            {{/if}}
            <button class="btn btn-xs btn-default" title="Create a new version based on this one" onclick="event.preventDefault(); promptsApi.createVariant('{{id}}');">
                 <i class="fa fa-copy"></i>
            </button>
        </td>
    </tr>
    <tr class="prompt-value-row hidden" data-parent-variant-id="{{id}}">
        <td colspan="5" class="prompt-value-container">
            <pre class="prompt-value-content" {{#if is_editable}}contenteditable="true"{{/if}} data-prompt-pk="{{id}}" onfocus="showPromptEditActions('{{id}}')" onblur="hidePromptEditActions('{{id}}')">{{value}}</pre>
            {{#if is_editable}}
            <div class="prompt-edit-actions hidden" id="prompt-edit-actions-{{id}}">
                <button class="btn btn-primary btn-xs" onclick="event.preventDefault(); event.stopPropagation(); savePromptChanges('{{id}}')"><i class="fa fa-check"></i> Save</button>
                <button class="btn btn-secondary btn-xs" onclick="event.stopPropagation(); cancelPromptChanges('{{id}}')"><i class="fa fa-times"></i> Cancel</button>
            </div>
            {{/if}}
        </td>
    </tr>
</script>
{% endverbatim %}
