{% verbatim %}
<script id="LLMQueryTemplate" type="text/x-handlebars-template">
    <div id="llm_query_message_{{id}}" class="conversation-log-item log-type-llm llm-query-item"
            data-id="{{id}}" data-created-at="{{created_at}}"
            {{#if flamegraph_data}}data-flamegraph-data="{{jsonStringify flamegraph_data}}"{{/if}}
            data-total-prompt-tokens="{{total_prompt_tokens}}"
            data-total-completion-tokens="{{total_completion_tokens}}">
        <div class="message-header">
            <strong>[{{formattedTimestamp}}]</strong> <strong>{{object}} : </strong>
            {{tokens_display}}
            <button class="btn btn-xs btn-default log-btn" onclick="toggleElementVisibility(event, 'raw_json_container_llm_query_{{id}}')" title="Show Raw JSON"><i class="fa fa-code"></i> raw</button>
            {{#if hasUsage}}
            <button class="btn btn-xs btn-default log-btn toggle-flame-graph"  data-target="llm_query_{{id}}" onclick="event.preventDefault(); toggleFlameGraph('llm_query_{{id}}', '{{instancePk}}')" title="Show Usage Flamegraph"><i class="fa fa-fire"></i> Usage</button>
            {{/if}}
            {{#if hasPartsToHighlight}}
            <button class="btn btn-xs btn-default log-btn highlight-query-parts" data-parts-json="{{partsJson}}" onclick="event.preventDefault(); toggleQueryHighlight(this, '{{instancePk}}')" title="Highlight Source Parts"><i class="fa fa-eye"></i></button>
            {{/if}}
        </div>
        <div id="raw_json_container_llm_query_{{id}}" class="message-content hidden">
            <pre>{{raw_json}}</pre>
            <a href="#" onclick="toggleElementVisibility(event, 'raw_json_container_llm_query_{{id}}')">Hide raw</a>
        </div>
        <div id="query_messages_container_{{id}}" class="message-content query-messages-container">
            {{#each messages}}
                {{> QueryMessageTemplate this}}
            {{/each}}
        </div>
        {{#if hasUsage}}
        <div id="flame_graph_container_llm_query_{{id}}" class="message-content flame-graph-container hidden">
            <!-- Flame graph will be rendered here -->
        </div>
        {{/if}}
    </div>
</script>


<script id="QueryMessageTemplate" type="text/x-handlebars-template">
    <div id="query_message_{{id}}" class="query-message-detail" data-id="{{id}}" data-index="{{index}}">
        <div class="message-header-nested">
            <strong>{{role}}</strong> (~{{tokens}} tokens)
            <button class="btn btn-xs btn-default log-btn" onclick="event.preventDefault(); toggleElementVisibility(event, 'query_message_parts_container_{{id}}')" title="Show Parts"><i class="fa fa-sitemap"></i> Parts</button>
        </div>
        <div class="query-message-parts-container hidden" id="query_message_parts_container_{{id}}">
            {{#each parts}}
                {{> QueryMessagePartTemplate this}}
            {{/each}}
        </div>
    </div>
</script>

<script id="QueryMessagePartTemplate" type="text/x-handlebars-template">
    <div class="query-message-part-detail" id="query_message_part_{{id}}" data-part-id="{{id}}" data-part-index="{{index}}">
        <div class="message-header-nested">
            Part {{index}} (~{{tokens}} tokens) Tags: {{#if tags}}{{#each tags}}{{this}} {{/each}}{{else}}None{{/if}}
            <button class="btn btn-xs btn-default log-btn" onclick="event.preventDefault(); toggleElementVisibility(event, 'query_message_part_content_{{id}}')" title="Show Content"><i class="fa fa-code"></i></button>
        </div>
        <div id="query_message_part_content_{{id}}" class="message-content hidden">
            {{#if content}}<pre>{{content}}</pre>{{/if}}
            <small>Source:
                {{#if prompt_variant_id}}PromptVariant {{prompt_variant_id}}; {{/if}}
                {{#if conversation_message_part_id}}ConvPart {{conversation_message_part_id}}; {{/if}}
                {{#if fsLogEntry_id}}FSLog {{fsLogEntry_id}}; {{/if}}
            </small>
            {{#if template_data}}
            <pre>Template Data: {{jsonStringify template_data}}</pre>
            {{/if}}
        </div>
    </div>
</script>
{% endverbatim %}
