{% verbatim %}
<script id="LLMResponseTemplate" type="text/x-handlebars-template">
    <div id="llm_response_message_{{id}}" class="conversation-log-item log-type-llm llm-response-item"
            data-id="{{id}}" data-created-at="{{created_at}}">
        <div class="message-header">
            <strong>[{{formattedTimestamp}}]</strong> <strong>{{object}} : </strong>
            {{tokens_display}}
            <button class="btn btn-xs btn-default log-btn" onclick="toggleElementVisibility(event, 'raw_json_container_llm_response_{{id}}')" title="Show Raw JSON"><i class="fa fa-code"></i> raw</button>
        </div>
        <div id="raw_json_container_llm_response_{{id}}" class="message-content hidden">
            <pre>{{raw_json}}</pre>
            <a href="#" onclick="toggleElementVisibility(event, 'raw_json_container_llm_response_{{id}}')">Hide raw</a>
        </div>
    </div>
</script>
{% endverbatim %}
