{% verbatim %}
<script id="PythonVarLogTemplate" type="text/x-handlebars-template">
    <div id="pyvar_group_{{toolCall_id}}" class="conversation-log-item log-type-pyvar" data-toolcall-id="{{toolCall_id}}"
         data-id="{{toolCall_id}}" data-created-at="{{created_at}}">
        <div class="message-header">
            <strong>[{{created_at_formatted_time}}]</strong>
            <strong><span class="pyvar-count">1</span> VARS Update:</strong>
            <span class="pyvar-keys"><span>{{key}}</span></span>
            <button class="btn btn-xs btn-default log-btn" onclick="event.preventDefault(); toggleElementVisibility(event, 'pyvar_full_{{toolCall_id}}', {{instancePk}})">
                <i class="fa fa-plus"></i> More
            </button>
        </div>
        <div id="pyvar_full_{{toolCall_id}}" class="message-content hidden">
            <div class="pyvar-details-container">
                <!-- First item is rendered here, subsequent items are appended by JS -->
                <div class="pyvar-detail-item">
                    <div class="pyvar-detail-key"><p>{{key}}</p></div>
                    <div class="pyvar-detail-value"><pre>{{nice_string}}</pre></div>
                </div>
            </div>
            <button class="btn btn-xs btn-default log-btn" onclick="event.preventDefault(); toggleElementVisibility(event, 'pyvar_full_{{toolCall_id}}', {{instancePk}})">
                <i class="fa fa-minus"></i> Hide
            </button>
        </div>
    </div>
</script>
{% endverbatim %}
