{% verbatim %}
<div class="modal fade" id="agentOverridePromptModal" tabindex="-1" role="dialog" aria-labelledby="agentOverridePromptModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="agentOverridePromptModalLabel">Select a Global Prompt to Override</h4>
            </div>
            <div class="modal-body">
                <p>Choose a global prompt from the list below to create a custom, agent-specific version. This will not affect the original global prompt.</p>
                <div class="list-group" id="global-prompts-list-for-override">
                    <!-- Global prompts will be dynamically inserted here by JavaScript -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}